/**
*
*   *** HIGHCHARTS ***
*
*/

.highcharts-title {
  font-family: @font-family-sans-serif;
}
.highcharts-grid-line {
    stroke-width: 0;
}
.highcharts-axis-line {
    stroke-width: 0;
}
.highcharts-tick {
    stroke-width: 0;
}
.highcharts-minor-grid-line {
    stroke-width: 0;
}
.highcharts-credits {
  display: none;
}

/**
*
*   *** LEAFLET ***
*
*/

.leaflet-right {
  display: none;
}
