/* Import Source Sans Pro font*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300');
/* -- BRANDING -- */
/* -- LAYOUT -- */
/* - sizes - */
/* - colors - */
/* -- UI Elts -- */
/* - colors - */
/* -- GENERAL -- */
/**
    OVERALL WRAPPER
 */
.mainWrapper .main .background-top {
  height: 159px;
  background-color: #42424b;
}
.mainWrapper .main .content {
  position: absolute;
  top: 20px;
  width: 100%;
  height: 90%;
  padding-left: 20px;
  padding-right: 20px;
}
/**
    HEADER
 */
.content .header .row:nth-child(2) {
  height: 79px;
}
.content .header .row:nth-child(2) div:first-child {
  padding: 0;
  margin: 0;
}
.content .header .breadcrumbs {
  font-size: 1.2em;
  font-weight: 300;
}
.content .header .breadcrumbs a {
  color: #878787;
}
.content .header .breadcrumbs a:hover {
  color: #5791e1;
}
.content .header .breadcrumbs a i {
  font-size: 0.8em;
}
.content .header {
  height: 79px;
  padding: 0;
  padding-right: 20px;
}
.content .header .title {
  font-size: 3em;
  font-weight: 300;
  letter-spacing: -2px;
  margin-top: 17px;
  color: white;
}
.content .header .title span {
  margin: 0;
  padding-bottom: 3px;
  border-bottom: 4px solid #5791e1;
}
.content .header > .row > div:nth-child(2) {
  padding: 0;
  margin: 0;
}
/**
    USER PROFILE
 */
.content .header .user-profile {
  padding-top: 0;
  margin-top: 0;
  line-height: 1em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* user profile txt infos */
.content .header .user-profile > div:first-child {
  font-size: 1em;
  font-weight: medium;
  color: white;
  text-align: right;
}
.content .header .user-profile > div:first-child .usrname {
  text-transform: uppercase;
  margin: 2px 0;
}
.content .header .user-profile > div:first-child .email {
  font-size: 0.9em;
  color: #b3b1b8;
  margin: 2px 0;
}
.content .header .user-profile > div:first-child .org {
  margin: 10px 0;
}
.content .header .user-profile > div:first-child .org > span {
  text-transform: uppercase;
  color: #42424b;
  border-radius: 3px;
  padding: 2px;
  background-color: #e9e9e9;
  width: 40px;
}
/* user profile icons/pictures container */
.content .header .user-profile > div:nth-child(2) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 90px;
}
/* user profile picture placeholder */
.content .header .user-profile > div:nth-child(2) > i:first-child {
  font-size: 4em;
  color: #59585e;
  padding: 0 10px;
}
.content .header .user-profile > div:nth-child(2) > img {
  padding: 0 10px;
}
/* arrow down */
.content .header .user-profile > div:nth-child(2) > i {
  font-size: 1.2em;
  color: #e9e9e9;
  cursor: pointer;
}
/*
.content .header .user-profile > div:nth-child(2) > i:nth-child(2) {
  font-size: 1.2em;
  color: #e9e9e9;
  cursor: pointer;
}
*/
/* popover placement trick */
.popover-spacer {
  width: 70px !important;
  height: 5px;
  color: #fff;
}
/* LOADER :: Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.loading img {
  width: 100px;
}
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
/**
*
*   *** HIGHCHARTS ***
*
*/
.highcharts-title {
  font-size: 1.2em;
  font-weight: 700;
  color: #424242;
}
.highcharts-grid-line {
  stroke-width: 0;
}
.highcharts-axis-line {
  stroke-width: 0;
}
.highcharts-tick {
  stroke-width: 0;
}
.highcharts-minor-grid-line {
  stroke-width: 0;
}
.highcharts-credits {
  display: none;
}
.highcharts-legend text {
  color: #424242;
}
/**
*
*   *** LEAFLET ***
*
*/
.leaflet-container {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.leaflet-touch .leaflet-control-attribution {
  display: none;
}
.leaflet-container a.leaflet-popup-close-button {
  top: 7px;
  right: 7px;
}
/*
.leaflet-right {
  display: none;
}
*/
/**
*
*   *** BOOTSTRAP ***
*
*/
.uib-datepicker-popup .h6 {
  font-size: 0.8rem;
}
.uib-day .btn {
  background-color: white;
}
.filter-dropdown a {
  margin-left: 10px;
  color: #42424b;
}
.filter-dropdown .open > .dropdown-menu {
  display: block;
}
.filter-dropdown .dropdown-menu {
  min-width: 7.5rem;
}
.filter-dropdown .dropdown-menu li:hover {
  background-color: #e0e0e0;
}
.filter-dropdown .dropdown-toggle::after {
  display: none;
}
.home {
  height: 100%;
}
.home .user-profile {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 600;
  padding-top: 0;
  margin-top: 0;
  line-height: 1em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* user profile txt infos */
.user-profile > div:first-child {
  font-size: 1em;
  font-weight: 600;
  color: #42424b;
  text-align: right;
}
.user-profile > div:first-child .usrname {
  text-transform: uppercase;
  margin: 2px 0;
  font-weight: 700;
}
.user-profile > div:first-child .email {
  font-size: 0.9em;
  color: #42424b;
  margin: 2px 0;
}
.user-profile > div:first-child .org {
  margin: 10px 0;
}
.user-profile > div:first-child .org > span {
  text-transform: uppercase;
  color: #878787;
  border-radius: 3px;
  padding: 2px;
  background-color: #42424b;
  width: 40px;
  display: none;
}
/* user profile icons/pictures container */
.user-profile > div:nth-child(2) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 90px;
}
/* user profile picture placeholder */
/*
.user-profile > div:nth-child(2) > i:first-child {
  font-size: 4em;
  color: #59585e;
  padding: 0 10px;
}
*/
.user-profile > div:nth-child(2) > img {
  padding: 0 10px;
  width: 75px;
  height: 55px;
}
/* arrow down */
/*
.user-profile > div:nth-child(2) > i:nth-child(2) {
  font-size: 1.2em;
  color: @dark-grey;
  cursor: pointer;
}
*/
.user-profile > div:nth-child(2) > i {
  font-size: 1.2em;
  color: #42424b;
  cursor: pointer;
}
/**
    BOOTSTRAP POPOVER
 */
.popover.bottom > .arrow {
  display: none;
}
.popover-content {
  padding: 0;
  margin: 0;
}
.log-popover > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.log-popover > ul > li {
  padding: 5px 10px 5px 20px;
  font-size: 1em;
}
.log-popover > ul > li:hover {
  color: white;
  background-color: #5791e1;
}
.menu-entry {
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  height: 100%;
  background-color: white;
  z-index: 500;
}
.menu-entry .collapse-left-content {
  top: 10px;
  position: fixed;
  left: 320px;
}
.menu-entry .collapse-left-content img {
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.menu-entry .expand-left-content {
  display: none;
}
.menu-entry .Logo {
  border-bottom: 1px solid #f0f2f2;
  padding: 45px 0 43px 0;
  margin-bottom: 55px;
  text-align: center;
}
.menu-entry .Logo img {
  width: 240px;
  margin: auto;
}
.menu-entry .menu-items ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu-entry .menu-items ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.4em;
  font-weight: 600;
  height: 50px;
  text-transform: uppercase;
  padding-left: 15px;
  border-left: 4px solid white;
}
.menu-entry .menu-items ul li:hover {
  color: #5791e1;
  background-color: #EAEAEA;
  border-left: 4px solid #5791e1;
}
.menu-entry .menu-items ul li img {
  width: 30px;
  height: 20px;
  margin: 0 15px 0 0;
}
.menu-entry .menu-copy {
  height: 50vh;
  overflow: auto;
}
.menu-entry .menu-copy > p {
  color: #878787;
  font-size: 0.9em;
  line-height: 2em;
  padding: 0 55px;
}
.menu-entry .menu-copy a {
  color: #5791e1;
  text-decoration: none;
  font-size: 1em;
}
.menu-entry.reduced {
  width: 184px;
  height: 110px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
}
.menu-entry.reduced .collapse-left-content,
.menu-entry.reduced .menu-items,
.menu-entry.reduced .menu-copy {
  display: none;
}
.menu-entry.reduced .expand-left-content {
  display: block;
  top: 10px;
  position: fixed;
  left: 150px;
}
.menu-entry.reduced .expand-left-content img {
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.menu-entry.reduced .Logo {
  border: none;
  padding: 20px 0;
  text-align: center;
}
.menu-entry.reduced .Logo img {
  width: 134px;
  margin: auto;
}
.leaflet-touch .leaflet-bar a {
  width: 25px;
  height: 25px;
  line-height: 25px;
}
.leaflet-touch .leaflet-control-zoom-in,
.leaflet-touch .leaflet-control-zoom-out {
  font-size: 20px;
}
.map-entry {
  margin: 0;
  padding: 0;
}
.map-entry #mapid-wkspace,
.map-entry #mapid {
  height: 100vh;
}
.map-entry.fullscreen {
  margin-left: 0;
}
.map-legend {
  position: absolute;
  right: 50px;
  bottom: 10px;
  width: 135px;
  z-index: 510;
}
.map-legend .legend-part {
  background-color: white;
  border-radius: 3px;
  font-size: 0.8em;
  color: #878787;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
}
.map-legend .legend-part:nth-child(1) {
  padding: 6px 10px 10px 10px;
}
.map-legend .legend-part:nth-child(1) > div {
  display: flex;
  align-items: center;
  height: 20px;
}
.map-legend .legend-part:nth-child(1) img {
  margin-right: 7px;
}
.map-legend .legend-part:nth-child(1) i {
  font-size: 0.8em;
  margin-right: 7px;
}
.map-legend .legend-part:nth-child(2) {
  margin-top: 2px;
  height: 30px;
  padding-left: 4px;
}
.map-legend .legend-part:nth-child(2) > div {
  display: flex;
  align-items: center;
}
.map-legend .legend-part:nth-child(2) img {
  margin-right: 3px;
}
.entry-popup {
  width: 440px;
  height: 300px;
}
.entry-popup .leaflet-popup-content-wrapper {
  background: #42424b;
  border-radius: 5px;
}
.entry-popup .leaflet-popup-content-wrapper .leaflet-popup-content {
  margin: 0;
  max-width: 440px;
  height: 300px;
  width: 100% !important;
}
.entry-popup .leaflet-popup-tip {
  width: 14px;
  height: 14px;
  background: #42424b;
}
.entry-popup .entry-popup-top {
  height: 40px;
  background-color: #33333a;
  color: white;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7em;
  text-transform: uppercase;
}
.entry-popup .entry-popup-subtitle {
  display: flex;
  justify-content: center;
  margin: 0 20px;
  border-bottom: 1px solid #6c6b70;
}
.entry-popup .entry-popup-subtitle .display-total {
  height: 40px;
  padding: 8px 0 0;
  font-size: 1.14em;
  font-weight: 300;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.entry-popup .entry-popup-subtitle .display-total:nth-child(1) {
  padding-right: 30px;
}
.entry-popup .entry-popup-subtitle .display-total:nth-child(3) {
  padding-left: 30px;
}
.entry-popup .entry-popup-subtitle .display-total img {
  margin-right: 3px;
}
.entry-popup .entry-popup-subtitle .display-total .highlight {
  font-size: 1.2em;
  font-weight: 600;
}
.entry-popup .entry-popup-subtitle .sep {
  border-left: solid 1px #878787;
  margin: 10px 0 5px 0;
  padding: 0;
}
.entry-popup .entry-popup-main {
  height: 170px;
  text-align: center;
  font-size: 1em;
  color: white;
  width: 390px;
  margin: auto;
}
.entry-popup .entry-popup-main .charts-titles {
  padding: 0;
  margin-top: 25px;
  text-align: center;
}
.entry-popup .entry-popup-main .charts {
  height: 102px;
}
.entry-popup .entry-popup-main .charts > div {
  padding-left: 14px;
}
.entry-popup .entry-popup-main .charts-legends {
  font-size: 0.8em;
  color: #cacaca;
  text-align: left;
}
.entry-popup .entry-popup-main .charts-legends > div:nth-child(1) {
  letter-spacing: -0.3px;
  padding-left: 25px;
}
.entry-popup .entry-popup-main .charts-legends > div:nth-child(2),
.entry-popup .entry-popup-main .charts-legends > div:nth-child(3) {
  padding-left: 31px;
}
.entry-popup .entry-popup-main .charts-legends i {
  font-size: 0.7em;
  margin-right: 5px;
}
.entry-popup .entry-popup-main .charts-titles,
.entry-popup .entry-popup-main .charts,
.entry-popup .entry-popup-main .charts-legends,
.entry-popup .entry-popup-main .charts-icons {
  display: flex;
  justify-content: space-evenly;
}
.entry-popup .entry-popup-main .charts-titles > div,
.entry-popup .entry-popup-main .charts > div,
.entry-popup .entry-popup-main .charts-legends > div,
.entry-popup .entry-popup-main .charts-icons > div {
  width: 130px;
}
.entry-popup .entry-popup-main .charts-icons {
  position: absolute;
  top: 157px;
  align-items: center;
}
.entry-popup .entry-popup-main.charts-cnts {
  height: 32px;
}
.entry-popup .entry-popup-bottom {
  height: 45px;
}
.entry-popup .entry-popup-bottom .display-total {
  padding: 10px 0 0;
  margin: 0 15px;
  border-top: 1px solid #6c6b70;
  color: white;
  text-align: center;
}
.disable-cursor {
  cursor: auto;
}
.mainWrapper .overview {
  height: 100%;
}
.mainWrapper .overview .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 285px;
  height: 100%;
  background-color: white;
  z-index: 50;
}
.mainWrapper .overview .menu .backhome {
  padding: 0;
  margin: 10px 0 0 10px;
}
.mainWrapper .overview .menu .backhome a {
  color: #232323;
  font-size: 0.9em;
  margin: 0;
  padding: 0;
}
.mainWrapper .overview .menu .backhome a i {
  font-size: 0.8em;
  margin-right: 4px;
}
.mainWrapper .overview .menu .backhome a .highlight {
  font-weight: 700;
}
.mainWrapper .overview .menu .backhome a:hover {
  color: #5791e1;
}
.mainWrapper .overview .menu .Logo {
  border-bottom: 1px solid #f0f2f2;
  padding: 43px 0 38px 0;
  margin-bottom: 35px;
  text-align: center;
}
.mainWrapper .overview .menu .Logo img {
  width: 190px;
  margin: auto;
}
.mainWrapper .overview .menu .menu-items {
  position: absolute;
  background-color: white;
  padding-bottom: 30px;
  z-index: 2;
}
.mainWrapper .overview .menu .menu-items ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.mainWrapper .overview .menu .menu-items ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.3em;
  font-weight: 600;
  height: 50px;
  padding-left: 25px;
}
.mainWrapper .overview .menu .menu-items ul li.selected {
  color: #5791e1;
  border-left: 3px solid #5791e1;
  padding-left: 22px;
}
.mainWrapper .overview .menu .menu-items ul li:hover {
  color: #5791e1;
}
.mainWrapper .overview .main {
  height: 100%;
  background-color: #e0e0e0;
}
.mainWrapper .overview .main .background-top {
  height: 162px;
  background-color: #42424b;
}
.mainWrapper .overview .main .content {
  padding-left: 305px;
}
.mainWrapper .overview .main .content .header {
  height: 160px;
  padding-right: 0;
}
.mainWrapper .overview .main .content .header .row:first-child {
  height: 81px;
  padding-right: 20px;
}
.mainWrapper .overview .main .content .header .row:nth-child(2) {
  margin-right: 0;
  margin-left: 0;
}
.mainWrapper .overview .main .content .header .filters {
  margin: 0;
  padding: 0;
  border-radius: 5px;
  border-top-left-radius: 0;
  background-color: white;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.mainWrapper .overview .main .content .header .filters > div {
  min-width: 140px;
  margin-left: 20px;
}
.mainWrapper .overview .main .content .header .filters > div img {
  float: left;
  height: 20px;
  margin-right: 8px;
}
.mainWrapper .overview .main .content .main-content {
  margin: 20px 0 50px 0;
}
.map-container {
  position: relative;
  height: 100%;
  min-width: 400px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 3px solid white;
}
.map-container .leaflet-touch .leaflet-bar a {
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.map-container .leaflet-touch .leaflet-control-zoom-in,
.map-container .leaflet-touch .leaflet-control-zoom-out {
  font-size: 18px;
}
.map-container .map-filters {
  position: absolute;
  width: 100%;
  height: 60px;
  padding: 0;
  margin: 0;
  z-index: 1000;
  display: flex;
}
.map-container .map-filters .regfiltr {
  width: 30%;
  background-color: white;
  padding: 10px 15px;
  text-align: left;
  font-size: 0.9em;
  font-weight: 700;
  color: #e0e0e0;
}
.map-container .map-filters .regfiltr:first-child {
  border-right: 1px #e0e0e0 solid;
}
.map-container .map-filters .srchfiltr {
  width: 40%;
  padding: 10px 15px;
  background-color: rgba(66, 66, 74, 0.3);
}
.map-container .map-filters .filter-name {
  color: #878787;
}
.map-container .map-filters .filter-select {
  font-size: 1em;
}
.map-container .map-filters .filter-select .filter-count {
  font-size: 0.8em;
  font-weight: 600;
}
.map-container .map-filters .filter-input {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: white;
  height: 40px;
  padding-top: 10px;
  color: #e0e0e0;
}
.map-container .map-legend {
  right: 10px;
  bottom: 10px;
  width: 135px;
  z-index: 1001;
}
.map-container .map-legend .legend-part {
  background-color: white;
  border-radius: 3px;
  font-size: 0.8em;
  color: #878787;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
  padding: 6px 10px 10px 10px;
  height: 100%;
  text-align: left;
  line-height: 1;
}
.map-container .map-legend .legend-part > div {
  display: flex;
  align-items: center;
  height: 20px;
}
.map-container .map-legend .legend-part i {
  font-size: 0.8em;
  margin-right: 7px;
}
/**
* DATA VISUALIZATION
 */
.chart-container {
  position: relative;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  padding: 15px;
}
.chart-container .pieChartCenterTxt {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  line-height: 1em;
}
@media only screen and (max-width: 1400px) {
  .chart-container .pieChartCenterTxt {
    font-size: 1.6em;
    line-height: 1.2em;
  }
}
.chart-container .chart-title-total {
  font-weight: 400;
  font-size: 14px;
}
/**
    PARTNERS LIST
 */
.partners-list-btn {
  position: absolute;
  height: 30px;
  bottom: 15px;
  left: 25px;
  font-size: 1.2em;
  color: #5791e1;
  z-index: 1;
  cursor: pointer;
}
.partners-list-grp,
.partners-list-cache {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.partners-list-grp {
  display: none;
  z-index: 2000;
}
.partners-list-cache {
  background-color: #42424b;
  opacity: 0.8;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.partners-list {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 105px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.partners-list.fullHeight {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
/**
    BOOTSTRAP POPOVER
 */
.hidden-popover {
  display: none;
}
.popover.bottom > .arrow {
  display: none;
}
.popover-content {
  padding: 0;
  margin: 0;
}
.log-popover > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.log-popover > ul > li {
  padding: 5px 10px 5px 20px;
  font-size: 1em;
}
.log-popover > ul > li:hover {
  color: white;
  background-color: #5791e1;
}
.herams-marker-icon {
  width: 1px;
  height: 1px;
  font-size: 0.3em;
}
.layout14,
.layout13 {
  /*
  @media (max-width: 420px) {
      .box {
          display: block;
          width: 100%;
      }

      .box2 {
        display: table-caption;
      }

      .box1 {
        display: table-footer-group;
      }
  }
  */
}
.layout14 .boxes,
.layout13 .boxes {
  display: table;
  width: 100%;
  height: 100%;
}
.layout14 .box,
.layout13 .box {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  /*
    &.layout-map {
      min-width: 500px;
    }
    */
}
.layout14 .half,
.layout13 .half {
  width: 50%;
}
.layout14 .half .split-4,
.layout13 .half .split-4,
.layout14 .half .split-3,
.layout13 .half .split-3 {
  display: table;
  width: 100%;
  height: 100%;
}
.layout14 .half .split-4 .table-row,
.layout13 .half .split-4 .table-row,
.layout14 .half .split-3 .table-row,
.layout13 .half .split-3 .table-row {
  display: table-row;
}
.layout14 .half .split-4 .box-1,
.layout13 .half .split-4 .box-1,
.layout14 .half .split-3 .box-1,
.layout13 .half .split-3 .box-1,
.layout14 .half .split-4 .box-2,
.layout13 .half .split-4 .box-2,
.layout14 .half .split-3 .box-2,
.layout13 .half .split-3 .box-2,
.layout14 .half .split-4 .box-3,
.layout13 .half .split-4 .box-3,
.layout14 .half .split-3 .box-3,
.layout13 .half .split-3 .box-3,
.layout14 .half .split-4 .box-4,
.layout13 .half .split-4 .box-4,
.layout14 .half .split-3 .box-4,
.layout13 .half .split-3 .box-4 {
  position: relative;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  width: 50%;
  height: 50%;
}
.layout14 .half .split-4 .box-1 .tools,
.layout13 .half .split-4 .box-1 .tools,
.layout14 .half .split-3 .box-1 .tools,
.layout13 .half .split-3 .box-1 .tools,
.layout14 .half .split-4 .box-2 .tools,
.layout13 .half .split-4 .box-2 .tools,
.layout14 .half .split-3 .box-2 .tools,
.layout13 .half .split-3 .box-2 .tools,
.layout14 .half .split-4 .box-3 .tools,
.layout13 .half .split-4 .box-3 .tools,
.layout14 .half .split-3 .box-3 .tools,
.layout13 .half .split-3 .box-3 .tools,
.layout14 .half .split-4 .box-4 .tools,
.layout13 .half .split-4 .box-4 .tools,
.layout14 .half .split-3 .box-4 .tools,
.layout13 .half .split-3 .box-4 .tools {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 200;
  display: none;
}
.layout14 .half .split-4 .box-1 .tools img,
.layout13 .half .split-4 .box-1 .tools img,
.layout14 .half .split-3 .box-1 .tools img,
.layout13 .half .split-3 .box-1 .tools img,
.layout14 .half .split-4 .box-2 .tools img,
.layout13 .half .split-4 .box-2 .tools img,
.layout14 .half .split-3 .box-2 .tools img,
.layout13 .half .split-3 .box-2 .tools img,
.layout14 .half .split-4 .box-3 .tools img,
.layout13 .half .split-4 .box-3 .tools img,
.layout14 .half .split-3 .box-3 .tools img,
.layout13 .half .split-3 .box-3 .tools img,
.layout14 .half .split-4 .box-4 .tools img,
.layout13 .half .split-4 .box-4 .tools img,
.layout14 .half .split-3 .box-4 .tools img,
.layout13 .half .split-3 .box-4 .tools img {
  width: 15px;
}
.layout14 .box-1,
.layout13 .box-1,
.layout14 .box-2,
.layout13 .box-2,
.layout14 .box-3,
.layout13 .box-3,
.layout14 .box-4,
.layout13 .box-4 {
  padding-left: 20px;
}
.layout14 .box-1,
.layout13 .box-1,
.layout14 .box-2,
.layout13 .box-2 {
  padding-bottom: 10px;
}
.layout14 .box-3,
.layout13 .box-3,
.layout14 .box-4,
.layout13 .box-4 {
  padding-top: 10px;
}
.layout14 .empty,
.layout13 .empty {
  font-size: 3em;
  color: #f0e4e6;
}
.layout13 .half .split-3 {
  height: 50%;
}
/* Variables
================================== */
.dataviz-table {
  width: 100%;
  padding: 0;
  margin: 0;
  /* Tables
  ================================== */
  /* Tables (CSS - not compliant with IE)
  ================================== */
}
.dataviz-table .title {
  font-size: 1.2em;
  font-weight: 700;
  color: #42424b;
  text-align: left;
  margin: 0 0 20px 0;
}
.dataviz-table table {
  width: 100%;
}
.dataviz-table td,
.dataviz-table th {
  font-size: 0.9em;
  color: #42424b;
  text-align: left;
  padding-left: 10px;
  padding-right: 20px;
}
.dataviz-table td.wider,
.dataviz-table th.wider {
  width: 30%;
}
.dataviz-table td.border-left,
.dataviz-table th.border-left {
  border-left: solid 1px #e0e0e0;
}
.dataviz-table tr {
  height: 28px;
  border-bottom: solid 1px #e0e0e0;
}
.dataviz-table tr.no-border-bottom {
  border-bottom: none;
}
.dataviz-table th {
  background-color: #e0e0e0;
  border-bottom: solid 2px #878787;
  padding-top: 15px;
}
.dataviz-table .HRStable {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .dataviz-table .HRStable {
    /* IE10+ CSS */
  }
}
.dataviz-table .HRStable-row-container {
  width: 100%;
  display: flex;
}
.dataviz-table .HRStable-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
  border-bottom: solid 1px #e0e0e0;
  height: 25px;
  font-size: 0.9em;
  color: #42424b;
  text-align: left;
  line-height: 25px;
  padding-left: 10px;
}
.dataviz-table .HRStable-cell.row-header {
  height: auto;
  font-weight: 700;
  line-height: normal;
  padding: 10px;
  background-color: #e0e0e0;
  border-bottom: solid 2px #878787;
}
.dataviz-table .HRStable-cell.row-last {
  border-bottom: none;
}
.dataviz-table .HRStable-cell.col-wider {
  width: 46%;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .dataviz-table .HRStable-cell.col-wider {
    /* IE10+ CSS */
  }
}
.dataviz-table .HRStable-cell.col-reg {
  width: 18%;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .dataviz-table .HRStable-cell.col-reg {
    /* IE10+ CSS */
  }
}
.dataviz-table .HRStable-cell.border-left {
  border-left: solid 1px #e0e0e0;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  height: 100%;
}
body > div,
body > div > div {
  height: 100%;
}
body {
  background-color: #e0e0e0;
  user-select: none;
}
a,
a:hover,
a:focus {
  cursor: pointer;
  text-decoration: none;
}
*:focus {
  outline: none;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
