<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HeRAMS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css">
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="../bower_components/html5-boilerplate/dist/css/main.css">
    <!--<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />-->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="../bower_components/leaflet/dist/leaflet.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <script>
        var tokenConfig="085e1f753eef2a2ebd11a6ba1f422568";
    </script>
</head>
<body ng-app="app-herams">

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

    <div class="mainWrapper">
        <div ng-controller="MainCtrl" class="overview" ng-init="init()">

           <div class="menu" ng-cloak>
                <div class="backhome">
                    <a ng-click="home()"><i class="fas fa-chevron-left"></i><span class="highlight">Back</span> to HeRAMS</a>
                </div>
                <div class="Logo">
                    <a ng-click="home()"><img src="img/HeRAMS_NGA.svg"/></a>
                </div>
                <div class="menu-items">
                    <ul ng-cloak>
                        <li ng-repeat="category in categories">
                            <div class="item" ng-class="{'selected': category.id==catIDSelect[0] }">
                                <span ng-if="category.id!=catIDSelect[0]">
                                    <a ng-click="launchLayout(category)">{{category.name}}</a>
                                </span>
                                <span ng-if="category.id==catIDSelect[0]" ng-click="launchLayout(category)">{{category.name}}</span>
                                <img src="img/menu_open.svg" ng-show="category.subcategories!=null && category.id!=catMenuON[0]" ng-click="launchLayout(category)"/>
                                <img src="img/menu_close.svg" ng-show="category.subcategories!=null && category.id==catMenuON[0]" ng-click="launchLayout(category)"/>
                            </div>
                            <div class="sub-categories parent-category-id-{{category.id}}" ng-if="category.subcategories!=null" ng-show="category.id==catMenuON[0]">
                                <ul ng-cloak>
                                    <li ng-repeat="subcat in category.subcategories">
                                        <div ng-class="{'selected': subcat.id==catIDSelect[1] }">
                                            <span ng-if="subcat.id!=catIDSelect[1]"><a ng-click="launchLayout(subcat,1)">{{subcat.name}}</a></span>
                                            <span ng-if="subcat.id==catIDSelect[1]">{{subcat.name}}</span>
                                            <img src="img/menu_open.svg" ng-show="subcat.subcategories!=null && subcat.id!=catMenuON[1]" ng-click="launchLayout(subcat,1)"/>
                                            <img src="img/menu_close.svg" ng-show="subcat.subcategories!=null && subcat.id==catMenuON[1]" ng-click="launchLayout(subcat,1)"/>
                                        </div>
                                        <div class="sub-categories sub-categories-lev2 parent-category-id-{{subcat.id}}" ng-if="subcat.subcategories!=null" ng-show="subcat.id==catMenuON[1]">
                                            <ul ng-cloak>
                                                <li ng-repeat="subsubcat in subcat.subcategories">
                                                    <div ng-class="{'selected': subsubcat.id==catIDSelect[2] }">
                                                        <span ng-if="subsubcat.id!=catIDSelect[2]">
                                                            <a ng-click="launchLayout(subsubcat,2)">{{subsubcat.name}}</a>
                                                        </span>
                                                        <span ng-if="subsubcat.id==catIDSelect[2]">{{subsubcat.name}}</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
               <div class="partners-list-btn">Partners</div>
            </div>

            <div class="main">
                <div class="background-top"></div>
                <div class="content popover-base">
                    <div class="header container-fluid">
                        <div class="row">
                            <div class="col-sm-6 col-lg-8">
                                <div class="breadcrumbs">{{ setBreadcrumbs() }}</div>
                                <div class="title" ng-cloak><span>{{ catNameSelect[0] }}</span></div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="user-profile">
                                    <div>
                                        <div class="usrname" ng-cloak>{{ usr_name }}</div>
                                        <div class="email" ng-cloak>{{ usr_email }}</div>
                                        <div class="org"><span>who</span></div>
                                    </div>
                                    <div>
                                        <!--<i class="fas fa-user-circle"></i>-->
                                        <img src="img/Profile_white.png"/>
                                        <i class="fas fa-angle-down" id="log"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 filters">
                                <div class="filters-groups">
                                    <div class="filter-location">
                                        <dropdown
                                                icon="img/filter_where.svg"
                                                value="Nigeria"
                                                type="location"
                                                items="filters[0].values"/>
                                    </div>
                                    <div class="filter-calendar">
                                        <datepicker date="date"></datepicker>
                                    </div>
                                    <div class="filter-HF">
                                        <dropdown
                                                icon="img/filters/HF.png"
                                                value="nc"
                                                type="hf"
                                                items="filters[2].values"/>
                                    </div>
                                    <div class="filter-advanced">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#advncdSrchModal">
                                          More filters
                                        </button>
                                    </div>
                                    <div class="filter-advanced-view">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#advncdViewModal">
                                          View all ({{getAdvancedFiltersCnt()}})
                                        </button>
                                    </div>
                                    <div class="filter-btns">
                                        <button type="button" class="btn btn-secondary" ng-click="clearMainFilters()"><i class="fas fa-times"></i>Clear</button>
                                        <button type="button" class="btn btn-secondary" ng-click="applyFilters()"><i class="fas fa-check"></i>Apply</button>
                                    </div>
                                </div>
                                <div><!--<button type="button" class="btn btn-primary">apply</button>--></div>
                            </div>
                        </div>
                    </div>
                    <div class="main-content" ng-cloak></div>
                    <div class="global-filters-popovers">
                        <div class="filters-popover filter-location">
                            <filters-popover
                                    id="popover-location-1"
                                    open-next="#popover-location-2"
                                    title="State"
                                    items="states"
                                    type="location"
                                    grouped="true"
                            ></filters-popover>
                            <filters-popover
                                    id="popover-location-2"
                                    title="LGA"
                                    items=""
                                    type="location"
                                    grouped="true"
                            ></filters-popover>
                        </div>
                        <div class="filters-popover filter-HF">
                            <filters-popover
                                    items="hftypes"
                                    type="hf"
                                    grouped="false"
                            ></filters-popover>
                        </div>
                    </div>
                    <!-- Modals -->
                    <div class="modal fade" id="advncdSrchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Filters</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <advanced-search data="LSQuestions"></advanced-search>
                          </div>
                          <div class="modal-footer">
                              <div class="advanced-filters-cnt">Total: {{getAdvancedFiltersCnt()}} filters</div>
                                <button type="button" class="btn btn-secondary" ng-click="clearSetFilters()"><i class="fas fa-times"></i>Clear</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-check"></i>ok</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal fade" id="advncdViewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{getAdvancedFiltersCnt()}} filters</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <advanced-filters-list></advanced-filters-list>
                          </div>
                          <div class="modal-footer"></div>
                        </div>
                      </div>
                    </div>
               </div>
               </div>
            </div>

            <div class="loading"><img src="img/spinner.gif"/></div>

        </div>

      </div>

    <div class="partners-list-grp">
        <div class="partners-list-cache"></div>
        <div class="partners-list">
            <div><img src="img/partners/AAH.jpg"/></div>
            <div><img src="img/partners/ALIMA.jpg"/></div>
            <div><img src="img/partners/BornoState.jpg"/></div>
            <div><img src="img/partners/fhi360.jpg"/></div>
            <div><img src="img/partners/IntlMedicalCorps.jpg"/></div>
            <div><img src="img/partners/IOM.jpg"/></div>
            <div><img src="img/partners/MDM.jpg"/></div>
            <div><img src="img/partners/MSF.jpg"/></div>
            <div><img src="img/partners/Nigeria.jpg"/></div>
            <div><img src="img/partners/UNFPA.jpg"/></div>
            <div><img src="img/partners/UNICEF.jpg"/></div>
            <div><img src="img/partners/WHO.jpg"/></div>
        </div>
    </div>

    <div id="popover-content" class="hidden-popover">
        <div class="log-popover">
        <ul>
            <li ng-click="commonSvc.showUsrProfile()">Profile</li>
            <li ng-click="commonSvc.logout()">Logout</li>
        </ul>
        </div>
    </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
  <script src="../bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <!--<script src="../bower_components/angular-animate/angular-animate.js"></script>-->
  <script src="../bower_components/angular-mocks/angular-mocks.js"></script>
  <script src="../bower_components/angular-loader/angular-loader.js"></script>
  <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>

  <script src="../bower_components/leaflet/dist/leaflet-src.js"></script>
  <script src="../bower_components/highcharts/highcharts.js"></script>
  <script src="../bower_components/highcharts/highcharts-more.js"></script>
  <script src="../bower_components/highcharts/modules/exporting.js"></script>

  <script src="../node_modules/@esri/arcgis-to-geojson-utils/dist/arcgis-to-geojson.js"></script>
  <script src="../node_modules/lodash/lodash.js"></script>
    <!-- endbower -->
    <!-- endbuild -->


  <script src="config/config_dev.js"></script>

    <!-- build:js({.tmp,herams}) scripts/scripts_wkspace.js -->

   <script src="js/app.js"></script>

  <!-- inject:js -->
  <script src="config/config.js"></script>
  <script src="js/common/directives/user_popover.js"></script>
  <script src="js/common/services/commonSvc.js"></script>
  <script src="js/common/services/esritogeojsonSvc.js"></script>
  <script src="js/common/services/LayerPopupSvc.js"></script>
  <script src="js/overview/controllers/MainCtrl.js"></script>
  <script src="js/overview/services/chartsSvc.js"></script>
  <script src="js/overview/services/filtersSvc.js"></script>
  <script src="js/overview/services/HFMapSvc.js"></script>
  <script src="js/overview/directives/hfmap.js"></script>
  <script src="js/overview/directives/filters/advanced_search.js"></script>
  <script src="js/overview/directives/filters/datepicker.js"></script>
  <script src="js/overview/directives/filters/dropdown.js"></script>
  <script src="js/overview/directives/filters/filters_popovers.js"></script>
  <script src="js/overview/directives/filters/list_advanced_filters.js"></script>
  <!-- endinject -->
  <!-- endbuild -->

<!--
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
-->

  <!-- highcharts export/print -->
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <!-- optional -->
    <script src="https://code.highcharts.com/modules/offline-exporting.js"></script>

</body>
</html>
