@menu-padding-left: 25;
@menu-border-left: 3;
@menu-hover-left: @menu-padding-left - @menu-border-left;

@title-borderbot: 4px;

@dark-top-height: 176px;


.mainWrapper .overview {

  height:100%;

  .menu {
    position:fixed;
    top: 0;
    left: 0;
    width:@overview-sidebar-width;
    height:100%;

    background-color: @home-sidebar-bgcolor;
    z-index: 50;

    .Logo {
      border-bottom: 1px solid @sep-color;
      padding: 45px 0 43px 0;
      margin-bottom: 35px;
      text-align:center;

      cursor: pointer;

      img {
        width: 220px;
        margin: auto;
      }

    }

    .menu-items {
      ul {
        list-style: none;
        padding:0;
        margin: 0;

        li {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-size: 1.2em;
          font-weight: @medium;
          height:50px;
          padding-left: unit(@menu-padding-left,px);

          &:hover {
            color: @brand-blue;
            border-left: unit(@menu-border-left,px) solid @brand-blue;
            padding-left: unit(@menu-hover-left,px);
          }

        }
      }
    }
  }

  .main {

    height:100%;
    background-color: @light-grey;

    .background-top {
      height: @dark-top-height;
      background-color: @dark-grey;
    }

    .content {

      position: absolute;
      top: 50px;
      width:100%;
      padding-left: 300px;
      padding-right: 15px;
      height:100%;

      .header {

        .row {
          &:nth-child(2) {
            height: 81px;
            div:first-child {
              padding:0;
            }
          }
        }

        .tools {

        }
        .userlog {

        }
        .breadcrumbs {
          font-size: 1.2em;
          font-weight: 300;
          color: @intermediate-grey;
        }
        .title {
          font-size: 3em;
          font-weight: 300;
          line-height: 34px;
          color: white;
          span {
            margin:0;
            padding-bottom: 10px;
            border-bottom: @title-borderbot solid @brand-blue;
          }
        }
        .filters {
          margin:0; padding: 0;
          border-radius: 5px;
          border-top-left-radius: 0;
          background-color: white;
          width:100%;
          height: 75px;

          display:flex;
          justify-content:start;
          align-items:center;

          &>div {
            min-width: 140px;
            margin-left: 20px;

            img {
              float:left;
              height:20px;
              margin-right: 8px;
            }
          }

        }
      }

      .datagrid {

        .row {
          * {
            padding-right: 0;
            padding-left: 0;
            margin:0;
          }

          &.spacer {
            height: 15px;
          }

          .one, .two, .three, .four, .five {
            height: 0;
            padding-bottom: 100%;

            .chart-container {
              background-color: white;
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              border-radius: 5px;
              height: 0;
              padding-bottom: 100%;
              overflow: hidden;
            }
          }

        }
      }

      &.layout1 {
        .col-3 {
          padding-left: 5px;
          .row:first-child {
            padding-bottom: 5px;
          }
        }
      }

    }

 }

}


#mapid {
  height: 500px;
}


#chart1,
#chart2,
#chart3,
#chart4 {
  margin:15px;
}

.highcharts-title {
  font-family: @font-family-sans-serif;
}
.highcharts-grid-line {
    stroke-width: 0;
}
.highcharts-axis-line {
    stroke-width: 0;
}
.highcharts-tick {
    stroke-width: 0;
}
.highcharts-minor-grid-line {
    stroke-width: 0;
}
.highcharts-credits {
  display: none;
}