<div class="ui-base page">
    <div ui-view></div>
</div>


<!--
    <div class="menu-items">
  <a ui-sref="dashboard(params)" ui-sref-opts="{reload:true}" ui-sref-active="active" ng-click="overrideParams();" class="item img-btn-dashboard">
    <div class="item-txt">
      Dashboard
      </div>
    </a>
    <a ui-sref="map(params)" ui-sref-opts="{reload:true}" ui-sref-active="active" ng-click="overrideParams();" class="item img-btn-map">
    <div class="item-txt">
      Map
      </div>
    </a>
    <a ui-sref="search(params)" ui-sref-opts="{reload:true}" ng-click="resetLvl();overrideParams();" class="item img-btn-search" ng-class="{active: currentState === 'search' || currentState === 'search_results'}">
    <div class="item-txt">
      Search
      </div>
    </a>
    <a ui-sref="analysis(params)" ui-sref-opts="{reload:true}" ui-sref-active="active" ng-click="resetLvl();overrideParams();" class="item img-btn-analysis" ng-if="user.show_analyses">
    <div class="item-txt">
      Analyses
      </div>
    </a>
</div>
-->