<div class="home" ng-controller="HomeCtrl" ng-init="init()">

    <div class="menu-entry">
        <div class="Logo">
            <img src="img/logotmp3.jpg"/>
        </div>
        <div class="menu-items">
            <ul>
                <li><img src="img/flags/ng.svg"/> nigeria</li>
                <li><img src="img/flags/ua.svg"/> ukraine</li>
                <li><img src="img/flags/ye.svg"/> yemen</li>
            </ul>
        </div>
    </div>

    <div class="map-entry">
            <homemap mapdata="homedata" ng-cloak></homemap>
    </div>

</div>
