<div ng-controller="MainCtrl" class="overview">

   <div class="menu">
        <div class="Logo" ng-click="home()">
            <img src="img/HeRAMS_NGA.svg"/>
        </div>
        <div class="menu-items">
            <ul>
                <li>Overview</li>
                <li>Health infrastructure</li>
                <li>Health services</li>
                <li>Resources</li>
            </ul>
        </div>
    </div>

    <div class="main">
        <div class="background-top"></div>
        <div class="content">
            <div class="header container-fluid">
                <div class="row">
                    <div class="col-6 tools"></div>
                    <div class="col-6 userlog"></div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumbs">Health infrastructure &gt;</div>
                        <div class="title"><span>Characteristics</span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 filters"></div>
                </div>
            </div>
            <div class="datagrid"></div>
        </div>
    </div>

</div>
