<div class="filter-dropdown">
    <!--<div style="position:relative;"  uib-dropdown-toggle><img src="{{src}}"/><i>set data here</i></div>-->
    <span uib-dropdown>
      <a href id="directive-dropdown" uib-dropdown-toggle>
        <img src="{{src}}"/>{{ value }}
      </a>
      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="directive-dropdown">
        <li ng-repeat="choice in items">
          <a ng-click="select(choice.label)">{{choice.label}}</a>
        </li>
      </ul>
    </span>
</div>