<div class="advanced-list-modal">
      <ul>
         <li class="group-name" ng-repeat="group in data.LS_grps_titles track by $index" ng-if="grpHasSelection(group)">
             <div class="group-title">
                 <span ng-bind-html="group"></span>
                 ({{ grpSelectCnt(group) }})
             </div>
             <div class="group-question-list viewmode">
                 <ul>
                     <li class="group-question" ng-repeat="question in getQuestions(group)" ng-if="isFilterQ(question.code)">
                         <div>
                             <div class="question-text"><span ng-bind-html="question.text"></span></div>
                             <div class="question-answers-list">
                                 <ul>
                                     <li class="question-answer" ng-repeat="answer in question.answers">
                                         <div class="answer-text" ng-if="isFilterA(question.code,answer.code)">
                                             -&nbsp;&nbsp;<span ng-bind-html="answer.text"></span>
                                         </div>
                                     </li>
                                 </ul>
                             </div>
                         </div>
                    </li>
                </ul>
             </div>
         </li>
     </ul>
</div>