<div class="main-content layout1">
    <div class="boxes">
       <div class="box half layout-map"><hfmap mapdata="::mapdata" ng-cloak></hfmap></div>
       <div class="box half">
           <div class="split-4">
               <div class="table-row">
                   <div class="box-1"><div class="chart-container" id="chart1">1</div></div>
                   <div class="box-2"><div class="chart-container" id="chart2">2</div></div>
               </div>
               <div class="table-row">
                   <div class="box-3"><div class="chart-container" id="chart3">3</div></div>
                    <div class="box-4"><div class="chart-container" id="chart4">4</div></div>
               </div>
           </div>
       </div>
    </div>
</div>
