<div class="layout14">
    <div class="boxes">
       <div class="box half layout-map"><hfmap mapdata="::mapdata" ng-cloak></hfmap></div>
       <div class="box half">
           <div class="split-4">
               <div class="table-row">
                   <div class="box-1"><div class="chart-container" id="chart1">This box is empty</div></div>
                   <div class="box-2"><div class="chart-container" id="chart2">This box is empty</div></div>
               </div>
               <div class="table-row">
                   <div class="box-4 empty"><div class="chart-container" id="chart4">This box is empty</div></div>
                   <div class="box-3"><div class="chart-container" id="chart3">This box is empty</div></div>
               </div>
           </div>
       </div>
    </div>
</div>
